<button class="cart-icon" onclick="ToggleCart()" >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <g id="_01_align_center" data-name="01 align center">
            <path d="M24,3H4.242L4.2,2.649A3,3,0,0,0,1.222,0H0V2H1.222a1,1,0,0,1,.993.883L3.8,16.351A3,3,0,0,0,6.778,19H20V17H6.778a1,1,0,0,1-.993-.884L5.654,15H21.836ZM20.164,13H5.419L4.478,5H21.607Z"/>
            <circle cx="7" cy="22" r="2"/><circle cx="17" cy="22" r="2"/>
        </g>
    </svg>
</button>

<div id="cart">
    <div class="cart--container">
        <div class="cart--header">
            <button class="cart-icon" onclick="ToggleCart()">
                <svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.60584 2.07251C8.68102 1.99296 8.7398 1.89937 8.77881 1.79709C8.81782 1.69482 8.83631 1.58586 8.83321 1.47644C8.83012 1.36703 8.8055 1.25929 8.76077 1.15938C8.71604 1.05948 8.65207 0.969363 8.57251 0.894181C8.49295 0.818999 8.39936 0.760224 8.29708 0.721211C8.19481 0.682198 8.08585 0.663711 7.97644 0.666807C7.86702 0.669902 7.75928 0.694519 7.65937 0.739251C7.55947 0.783983 7.46935 0.847955 7.39417 0.927514L0.310839 8.42751C0.164559 8.58224 0.0830536 8.78709 0.0830536 9.00001C0.0830536 9.21294 0.164559 9.41779 0.310839 9.57251L7.39417 17.0733C7.46886 17.1546 7.55895 17.2203 7.65923 17.2665C7.7595 17.3127 7.86795 17.3385 7.97828 17.3424C8.08861 17.3463 8.19861 17.3283 8.30191 17.2893C8.40521 17.2504 8.49974 17.1913 8.58 17.1155C8.66027 17.0397 8.72468 16.9487 8.76948 16.8478C8.81429 16.7469 8.8386 16.6381 8.841 16.5277C8.84341 16.4174 8.82386 16.3076 8.78349 16.2049C8.74312 16.1021 8.68273 16.0084 8.60584 15.9292L2.06251 9.00001L8.60584 2.07251Z" fill="black"/>
                </svg>
            </button>
            <div style="text-align: center; width: 100%;">My cart</div>
        </div>
        <div class="cart--body">
            {% for item in cart.items %}
                <p>{{ item.quantity }}</p>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    const CART_CONTAINER = document.querySelector('#cart');

    function ToggleCart() {
        CART_CONTAINER.classList.toggle('active');
    }
</script>