/*!*********************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!../node_modules/import-glob-loader/index.js!./scss/header.scss ***!
  \*********************************************************************************************************************************************************/
header {
  font-size: 18px;
  font-family: "Sofia Pro", sans-serif;
  font-weight: 400;
}

.header--container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px 265px;
}

nav {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
}

.nav--element {
  color: rgb(11, 13, 33);
  cursor: pointer;
}

.nav--element:hover {
  color: rgb(249, 208, 35);
}

.burgerIcon {
  display: none;
  cursor: pointer;
  min-width: 25px;
}

.crossIcon {
  cursor: pointer;
}

.navbarAdaptive {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: -200vh;
  z-index: 6;
  background: white;
  transition: 1s ease-in-out;
}

.active {
  top: 0;
}

.navbarAdaptive--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 15px;
  background: black;
}

.logoAdaptive {
  filter: invert(1);
}

.nav--elements--adaptive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: 40px;
  font-family: "Sofia Pro", sans-serif;
  font-weight: 700;
}

.header--button {
  margin-bottom: 56px;
}

.section--scroll {
  position: fixed;
  right: 0;
  top: calc(50% - 103.5px);
  z-index: 5;
}

.section--scroll--deactive--element {
  visibility: visible;
}

.section--scroll--active--element--1, .section--scroll--active--element--2,
.section--scroll--active--element--3, .section--scroll--active--element--4,
.section--scroll--active--element--5, .section--scroll--active--element--6 {
  visibility: hidden;
}

.active {
  visibility: visible;
}

.deactive {
  visibility: hidden;
}

@media (max-width: 1000px) {
  .navbar {
    display: none;
  }
  .burgerIcon {
    display: flex;
  }
  .header--container {
    padding: 20px 15px;
  }
}
nav-element {
  padding: 0 5px;
}
/*!*******************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!../node_modules/import-glob-loader/index.js!./scss/home.scss ***!
  \*******************************************************************************************************************************************************/
.home--container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 25px;
  color: white;
}
.home--container h1 {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 115px;
  line-height: 130px;
}
.home--container h2 {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  margin-top: 40px;
}

.home--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  width: 100%;
  height: 60%;
  padding: 0 265px 54px;
  text-align: center;
  margin-top: 100px;
}

.home--button {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-family: "Sofia Pro", sans-serif;
  text-transform: uppercase;
  background: rgb(249, 208, 35);
  font-size: 14px;
  padding: 19px 40px;
  margin-top: 80px;
}
.home--button svg {
  margin-left: 16px;
}

.scroll--line--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1em;
  margin-top: 104px;
}
.scroll--line--container .line {
  height: 100px;
  width: 1px;
  border: 1px solid rgb(249, 208, 35);
}
.scroll--line--container .text {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 22px;
}

@media (max-width: 1300px) {
  .home--container {
    font-size: 20px;
  }
}
@media (max-width: 850px) {
  .home--container {
    font-size: 16px;
  }
  .home--container h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .home--container h2 {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 650px) {
  .home--bottom {
    width: 100%;
    height: 60%;
    padding: 15px 15px 30px;
  }
  .home--container {
    height: 100vh;
  }
  .scroll--line--container {
    display: none;
  }
}
@media (max-width: 500px) {
  .home--container {
    font-size: 14px;
  }
  .home--container h1 {
    font-size: 2.3em;
  }
  .home--bottom {
    height: 70% !important;
    padding: 15px 15px 56px !important;
  }
  .home--button {
    font-size: 1em;
  }
}
/*!**********************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!../node_modules/import-glob-loader/index.js!./scss/mission.scss ***!
  \**********************************************************************************************************************************************************/
.mission--container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 96px 15%;
  font-size: 90px;
}
.mission--container h1 {
  font-size: 1em;
  text-align: left;
  font-family: "Alata", sans-serif;
  font-weight: 400;
}
.mission--container h1::after {
  content: "";
  display: block;
  width: 100px;
  padding-top: 48px;
  border-bottom: 6px solid rgb(249, 208, 35);
}

.mission--image--text--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1em;
  margin-top: 56px;
}
.mission--image--text--container img {
  display: flex;
  width: 400px;
}
.mission--image--text--container .text {
  font-size: 0.188em;
  font-family: "Sofia Pro", sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin-left: 55px;
}

.missions--container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  font-size: 1em;
  margin-top: 96px;
}

.mission--block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1em;
}
.mission--block img {
  margin-bottom: 16px;
}
.mission--block--title {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 700;
  font-size: 0.45em;
  margin-bottom: 8px;
}
.mission--block--content {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 300;
  font-size: 0.14em;
  color: rgb(11, 13, 33);
  text-align: center;
  line-height: 18px;
  max-width: 200px;
}

@media (max-width: 1100px) {
  .mission--image--text--container {
    flex-direction: column;
  }
  .mission--image--text--container .text {
    margin: 32px 0 0 0 !important;
  }
  .missions--container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 850px) {
  .mission--container {
    font-size: 60px;
  }
  .mission--container .text {
    line-height: 24px;
    font-size: 0.25em;
  }
  .mission--block .mission--block--content {
    font-size: 0.25em;
  }
}
@media (max-width: 650px) {
  .mission--block {
    width: 150px;
  }
}
@media (max-width: 500px) {
  .mission--container {
    font-size: 40px;
    padding: 56px 15px;
  }
  .mission--container .text {
    line-height: 24px;
    font-size: 0.35em;
  }
  .mission--container h1::after {
    width: 70px;
    padding-top: 32px;
    border-bottom: 4px solid rgb(249, 208, 35);
  }
  .mission--image--text--container img {
    width: 100%;
  }
  .mission--block {
    width: 120px;
  }
  .mission--block--title {
    font-size: 0.8em;
  }
  .mission--block--content {
    font-size: 0.3em;
    line-height: 16px;
  }
}
